# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# ========================
# Excel files (DO NOT PUSH)
# ========================
*.xlsx

# ========================
# Logs / Temp
# ========================
*.log
*.tmp

# ========================
# OS
# ========================
.DS_Store
Thumbs.db